@{layout('')}
@{title('@(Issue Tracker)')}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="robots" content="all,follow" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700&subset=latin,latin-ext" />
	@{import('meta', 'head', 'default.css', 'default.js', 'favicon.ico', '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css')}
</head>
<body>

	<div data-component="confirm"></div>
	<div data-component="message"></div>
	<div data-component="loading"></div>

	<ul class="iconmenu hidden" data-component="visible" data-component-path="user" data-if="value && value.email">
		<li data-component="toggleclass" data-component-path="current" data-class="disabled" data-if="!value || value.email !== user.email" class="disabled"><a href="javascript:void(0)" data-component="click" data-component-path="common.form" data-value="issue"><i class="fa fa-plus-circle"></i>@(New issue)</a></li>
		<li data-component="toggleclass" data-component-path="current.issues" data-class="disabled" data-if="!value" class="disabled"><a href="javascript:void(0)" data-component="click" data-component-path="common.form" data-value="invite"><i class="fa fa-envelope"></i>@(Invite member)</a></li>
		<li><a href="javascript:void(0)" data-component="click" data-component-path="common.form" data-value="document"><i class="fa fa-file-text"></i>@(New tracker)</a></li>
		<li><a href="/" class="jrouting"><i class="fa fa-tasks"></i>@(My trackers)</a></li>
	</ul>

	<div data-component="tracker-percentage" data-component-path="current.issues" class="hidden"></div>
	<br />
	<br />
	<div class="container hidden" data-component="visible" data-component-path="user" data-if="value && value.email">
		<div class="row">
			<div class="col-md-4 col-lg-3">
				<div data-component="template" data-component-path="user" class="user">
					<script type="text/html">
						<div class="photo">
							<div data-component="photoupload" data-component-path="user.email" data-url="/api/upload/photo/" data-upload-error="@(The file is too large.)"><img src="{{ email | photo }}" alt="{{ email }}" border="0" height="60" /></div>
						</div>
						<div>{{ email }}</div>
						<div class="mt5 silver">@(Click on the image for changing your avatar.)</div>
					</script>
				</div>
				<hr />

				<div data-component="visible" data-component-path="common.page" data-if="value === 'all'" class="hidden center">
					<div><button data-component="click" data-component-path="common.form" data-value="document" class="button-append"><i class="fa fa-plus"></i></button></div>
				</div>

				<div data-component="visible" data-component-path="current.issues" data-if="value && value.length" class="hidden">
					<div class="caption"><i class="fa fa-bookmark"></i><span data-component="" data-component-path="current.name"></span></div>
					<div data-component="tracker-bookmarks" data-component-path="current.issues"></div>
					<div data-component="tracker-changes" data-component-path="current.issues" data-caption="@(Changes)" data-dateformat="@(yyyy-MM-dd HH:mm)"></div>
					<div data-component="tracker-members" data-component-path="current.issues"></div>
					<br />
					<div data-component="visible" data-component-path="current.members" data-if="value && value.length < 2" class="message-invite hidden">
						<i class="fa fa-envelope"></i>@(Invite members into this document's issues, you are here alone.)
					</div>
				</div>

				<div data-component="visible" data-component-path="current" data-if="value && value.email === user.email" class="hidden">
					<button data-component="click" data-component-path="#remove" class="button-done"><i class="fa fa-check-square"></i>@(Close this tracker)</button>
				</div>
				<hr class="visible-xs visible-sm" />
			</div>
			<div class="col-md-8 col-lg-9">

				<div data-component="visible" data-component-path="common.page" data-if="value === 'all'" class="hidden">
					<h1><i class="fa fa-tasks"></i>@(My Trackers)</h1>

					<div data-component="visible" data-component-path="isempty" class="hidden">
						<div class="ui-empty"><i class="fa fa-bug"></i>@(<b>Great, you don't have any opened issues.</b><br />So you have a free time.)</div>
					</div>

					<div data-component="repeater" data-component-path="documents" class="row">
						<script type="text/html">
							<div class="col-sm-6">
								<div class="documentlist">
									<div class="name"><a href="/{{ id }}/" class="jrouting">{{ created | format('@(yyyy-MM-dd)') }} <b>{{ name }}</b></a></div>
									<div class="hostname"><i class="fa fa-globe"></i>{{ hostname }}</div>
								</div>
							</div>
						</script>
					</div>

					<div data-component="visible" data-component-path="documents" data-if="value && value.length">
						<hr style="margin-top:30px" />
						<br />
					</div>

					<div data-component="repeater" data-component-path="issues" class="row">
						<script type="text/html">
							<div class="col-sm-6">
								<div class="issuelist">
									<div class="photo"><img src="{{ email | photo }}" alt="{{ email }}" border="0" height="55" /></div>
									<div class="body">
										<div class="name"><a href="/{{ iddocument }}/#issue{{ id }}" class="jrouting">{{ created | format('@(yyyy-MM-dd)') }} <b>{{ name }}</b></a></div>
										<div class="email"><i class="fa fa-envelope"></i><a href="mailto:{{ email }}">{{ email }}</a></div>
										<div class="hostname"><i class="fa fa-globe"></i>{{ hostname }}</div>
									</div>
								</div>
							</div>
						</script>
					</div>
					<br />
					<br />
				</div>

				<div data-component="visible" data-component-path="common.page" data-if="value === 'detail'" class="hidden">

					<div data-component="empty" data-component-path="current.issues" class="hidden">
						<i class="fa fa-bug"></i>
						@(This tracker doesn't have any issues.<br />Issue can create only an owner of this tracker.)
					</div>

					<div data-component="tracker-issues" data-component-path="current.issues">
						<script type="text/html">
							{{ if index }}
							<div class="document-number">{{ index | counter }}</div>
							<hr class="divider" />
							{{ fi }}
							<div data-issue="{{ id }}" class="document-container{{ if iscompleted }} document-completed{{ fi }}">
								<div class="row">
									<div class="col-md-12" id="issue{{ id }}">
										<h2>{{ name }}</h2>
										<div class="document-datetime">{{ created | format('@(yyyy-MM-dd HH:mm)') }}</div>
										<br />
										<div class="document">
											<div class="document-comments">{{ body | raw }}</div>
											<ul class="document-toolbar">
												<li><a href="javascript:void(0)" class="toolbarbutton" data-name="approve" title="@(Approve)"><i class="fa fa-check-circle"></i></a></li>
												<li><a href="javascript:void(0)" class="toolbarbutton" data-name="cancel" title="@(Reject)"><i class="fa fa-times"></i></a></li>
												<li><a href="javascript:void(0)" class="toolbarbutton" data-name="estimate" title="@(Estimate)"><i class="fa fa-clock-o"></i></a></li>
												<li><a href="javascript:void(0)" class="toolbarbutton" data-name="tip" title="@(Tip)"><i class="fa fa-lightbulb-o"></i></a></li>
												<li><a href="javascript:void(0)" class="toolbarbutton" data-name="ul" title="@(List)"><i class="fa fa-list-ul"></i></a></li>
												<li><a href="javascript:void(0)" class="toolbarbutton" data-name="quote" title="@(Cite)"><i class="fa fa-quote-left"></i></a></li>
												<li><a href="javascript:void(0)" class="toolbarbutton" data-name="clear" title="@(Clear content)"><i class="fa fa-trash"></i></a></li>
											</ul>
											<div class="document-editor document-editor-placeholder" data-component="contenteditable" data-component-path="fissue{{ id }}.body" data-required="true" data-upload-error="@(The file is too large.)"><span class="silver">@(Drag and drop files or write your comment.)</span></div>
											<div data-component="validation" data-component-path="fissue{{ id }}">
												<button class="button-comment" disabled="disabled" data-component="click" data-component-path="#comment" data-body="fissue{{ id }}.body" data-issue="{{ id }}">@(SUBMIT)</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</script>

						<script type="text/html">
							<div class="document-comment{{ if !visible }} document-comment-minimized{{ fi }}" data-comment="{{ id }}">
								{{ if index }}
								<button class="document-button-minimize"><i class="fa fa-{{ if visible }}compress{{ else }}expand{{ fi }}"></i></button>
								{{ fi }}
								{{ if !index && owner === $.email }}
								<button class="document-button-complete{{ if iscompleted }} document-button-completed{{ fi }}" data-issue="{{ idissue }}"><i class="fa fa-check"></i></button>
								{{ fi }}
								<img src="{{ email | photo }}" alt="{{ email }}" width="28" class="document-photo" />
								<div class="document-author{{ if email == $.email }} document-author-me{{ fi }}"><i class="fa fa-envelope"></i>{{ email }}</div>
								<div class="document-author-datetime"><i class="fa fa-clock-o"></i>{{ created | format('yyyy-MM-dd HH:mm') }}</div>
								<div class="document-body">{{ body | raw }}</div>
							</div>
						</script>
					</div>

					<div class="center hidden" data-component="visible" data-component-path="current" data-if="value && value.email === user.email">
						<br />
						<button class="button-append" data-component="click" data-component-path="common.form" data-value="issue"><i class="fa fa-plus"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<br />
	<br />

	<div data-component="form" data-title="@(Authorization)" data-component-path="common.form" data-if="value === 'login'" data-width="440px" data-autocenter="true" class="hidden" data-focus="input">
		<div class="padding" id="elauthorize">
			<div class="row">
				<div class="col-md-12 m">
					<p>@(The applications will send you on your email a PIN code and you'll get the access into the Issue tracker.)</p>
					<div data-component="textbox" data-component-path="formuser.email" data-component-value="'@'" data-required="true" data-component-type="email" data-autofocus="true" data-maxlength="120">@(Email address)</div>
				</div>
			</div>
			<div data-component="error" data-component-path="formuser.response"></div>
		</div>
		<div data-component="validation" data-component-path="formuser" class="ui-form-buttons">
			<button disabled="disabled" data-component="click" data-component-path="#authorize" data-enter="#elauthorize"><i class="fa fa-lock"></i>@(AUTHORIZE)</button>
		</div>
	</div>

	<div data-component="form" data-title="@(Confirmation)" data-component-path="common.form" data-if="value === 'confirm'" data-width="440px" data-autocenter="true" class="hidden" data-focus="input">
		<div class="padding" id="elconfirm">
			<div class="row">
				<div class="col-md-12 m">
					<p>@(We have sent you the email with a PIN. Enter the PIN into the form below.)</p>
					<div data-component="textbox" data-component-path="formconfirm.pin" data-component-value="''" data-maxlength="4" data-required="true" data-autofocus="true">@(PIN)</div>
				</div>
			</div>
			<div data-component="error" data-component-path="formconfirm.response"></div>
		</div>
		<div data-component="validation" data-component-path="formconfirm" class="ui-form-buttons">
			<button disabled="disabled" data-component="click" data-component-path="#confirm" data-enter="#elconfirm"><i class="fa fa-lock"></i>@(CONFIRM)</button>
		</div>
	</div>

	<div data-component="form" data-title="@(New Issue)" data-component-path="common.form" data-if="value === 'issue'" data-width="440px" data-autocenter="true" class="hidden" data-focus="input">
		<div class="padding" id="elformissue">
			<div class="row">
				<div class="col-md-12 m">
					<div data-component="textbox" data-component-path="formissue.name" data-component-value="''" data-placeholder="@(A simple description of the issue)" data-required="true" data-maxlength="100">@(Description)</div>
				</div>
			</div>
		</div>
		<div data-component="validation" data-component-path="formissue" class="ui-form-buttons">
			<button disabled="disabled" data-component="click" data-component-path="#append" data-enter="#elformissue"><i class="fa fa-plus"></i>@(CREATE)</button>
		</div>
	</div>

	<div data-component="form" data-title="@(New Document)" data-component-path="common.form" data-if="value === 'document'" data-width="440px" data-autocenter="true" class="hidden" data-focus="input">
		<div class="padding" id="elformdocument">
			<div class="row">
				<div class="col-md-12 m">
					<div data-component="textbox" data-component-path="formdocument.name" data-component-value="''" data-placeholder="@(A document name)" data-required="true" data-maxlength="50">@(Name)</div>
				</div>
			</div>
		</div>
		<div data-component="validation" data-component-path="formdocument" class="ui-form-buttons">
			<button disabled="disabled" data-component="click" data-component-path="#create" data-enter="#elformdocument"><i class="fa fa-plus"></i>@(CREATE)</button>
		</div>
	</div>

	<div data-component="form" data-title="@(Invite members)" data-component-path="common.form" data-if="value === 'invite'" data-width="440px" data-autocenter="true" class="hidden">
		<div class="padding" id="elforminvite">
			<div class="row">
				<div class="col-md-12 m">
					<div data-component="dropdown" data-component-path="forminvite.email" data-options="|@;@{config.members}">@(Predefined members)</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 m">
					<div data-component="textbox" data-component-path="forminvite.email" data-required="true" data-maxlength="120">@(Email)</div>
				</div>
			</div>
		</div>
		<div data-component="validation" data-component-path="forminvite" class="ui-form-buttons">
			<button disabled="disabled" data-component="click" data-component-path="#invite" data-enter="#elforminvite"><i class="fa fa-envelope"></i>@(SEND)</button>
		</div>
	</div>

	<script>
	var common = {};
	var user;
	var current;
	var issues;

	jC.on('ready', function() {
		SETTER('loading', 'hide', 100);
		OPERATION('profile')();
	});

	OPERATION('profile', function(callback) {
		AJAX('GET /api/profile/', function(response, err) {
			if (err)
				SET('common.form', 'login');
			else
				SET('user', response);
			if (callback)
				callback(err ? null : user);
		});
	});

	OPERATION('confirm', function() {
		SETTER('loading', 'show');
		RESET('formconfirm.*');
		AJAX('POST /api/authorize/confirm/', formconfirm, function(response) {
			SETTER('loading', 'hide', 1000);

			if (response instanceof Array) {
				SET('formconfirm.response', response);
				return;
			}

			SET('common.form', '');
			OPERATION('profile')();
		});
	});

	OPERATION('authorize', function() {
		SETTER('loading', 'show');
		RESET('formuser.*');
		AJAX('POST /api/authorize/', formuser, function(response) {
			SETTER('loading', 'hide', 1000);
			if (response instanceof Array) {
				SET('formuser.response', response);
				return;
			}
			SET('common.form', 'confirm');
		});
	});

	OPERATION('append', function() {
		formissue.iddocument = current.id;
		formissue.email = user.email;
		formissue.document = current.name;
		AJAX('POST /api/documents/issues/', formissue, function(response) {
			var item = { id: response.value, iddocument: formissue.iddocument, email: user.email, name: formissue.name, created: new Date(), index: current.issues.length, comments: [] };
			current.issues.push(item);
			DEFAULT('formissue.*');
			FIND('tracker-issues').push(item);
			SET('common.form', '');

			if (current.issues.length === 1)
				UPDATE('current');

			setTimeout(function() {
				SETTER('tracker-bookmarks', 'scroll', item.id);
				COMPILE();
			}, 100);

			jC.REMOVECACHE('GET /api/issues/');
		});
	});

	OPERATION('create', function() {
		formdocument.email = user.email;
		AJAX('POST /api/documents/', formdocument, function(response) {
			SET('common.page', 'detail');
			SETTER('loading', 'show');
			jR.redirect('/{0}/'.format(response.value));
			SETTER('loading', 'hide', 2000);
			SET('common.form', 'issue', 1000);
			jC.REMOVECACHE('GET /api/issues/');
		});
	});

	OPERATION('invite', function() {
		forminvite.owner = user.email;
		forminvite.name = current.name;
		forminvite.issues = current.issues.map(FN('n => n.name'));
		SETTER('loading', 'show');
		AJAX('POST /api/invite/', forminvite, function(response) {
			SET('common.form', '');
			SETTER('loading', 'hide', 1000);
			SETTER('message', 'success', '@(The invitation has been sent successfully.)');
		});
	});


	OPERATION('load', function(id) {
		AJAX('GET /api/documents/{0}/'.format(id), 'current #prepare');
	});

	OPERATION('comment', function(component) {
		var model = {};
		var path = component.attr('data-body');

		model.body = urlify(smilefy(GET(path)));
		model.email = user.email;
		model.idissue = component.attr('data-issue');
		model.iddocument = current.id;
		model.document = current.name;
		model.members = [];

		var issue = current.issues.findItem('id', model.idissue);
		if (issue) {
			issue.comments.forEach(function(m) {
				if (m.email === user.email)
					return;
				if (model.members.indexOf(m.email) === -1)
					model.members.push(m.email);
			});
			model.name = issue.name;
		}

		AJAX('POST /api/documents/comments/', model, function(response) {
			model.created = new Date();
			model.ip = '';
			if (issue) {
				delete model.members;
				model.index = issue.comments.length;
				model.owner = current.email;
				issue.comments.push(model);
				FIND('tracker-issues').comment(issue.id, model);
			}
			SET(path, '', true);
		});
	});

	jR.route('/', ['user'], function() {

		document.title = '@{CONFIG("name")} v@{CONFIG("version")}';

		AJAXCACHE('GET /api/issues/', function(response) {
			SET('documents', response.documents);
			SET('issues', response.issues);
			SET('isempty', response.issues.length === 0 && response.documents.length === 0);
		}, 60000);

		SET('current', null);
		SET('common.page', 'all');
	});

	jR.route('/{id}/', ['user'], function(id) {
		OPERATION('load')(id);
		SET('common.page', 'detail');

		var hash = (location.hash || '').replace('#', '');
		if (!hash)
			return;
		setTimeout(function() {
			SETTER('tracker-bookmarks', 'scroll', hash.replace('issue', ''));
		}, 500);
	});

	jR.middleware('user', function(next) {
		WAIT(FN('() => window.user && window.user.email ? true : false'), next);
	});

	OPERATION('remove', function() {
		FIND('confirm').confirm('@(Do you want to close this tracker?)', ['@(Yes)', '@(No)'], function(index) {
			if (index)
				return;
			SETTER('loading', 'show');
			AJAX('DELETE /api/documents/{0}/'.format(current.id), function(response, err) {
				SETTER('loading', 'hide', 1000);
				jC.REMOVECACHE('GET /api/issues/');
				jR.redirect('/');
			});
		});
	});

	MIDDLEWARE('prepare', function(next, value, path) {

		if (value instanceof Array) {
			// error
			return;
		}

		var issues = {};
		var members = {};

		for (var i = 0, length = value.comments.length; i < length; i++) {
			var comment = value.comments[i];
			if (!issues[comment.idissue])
				issues[comment.idissue] = [];
			issues[comment.idissue].push(comment);
			members[comment.email] = true;
		}

		for (var i = 0, length = value.issues.length; i < length; i++) {
			var issue = value.issues[i];
			issue.comments = issues[issue.id] || [];
		}

		value.members = Object.keys(members);
		value.url = location.href;

		document.title = value.name;
		next(value);
	});

	$(document).on('click', '.toolbarbutton', function() {
		var el = $(this);
		var editor = el.closest('.document').find('.document-editor');
		if (!editor.length)
			return;
		switch (el.attr('data-name')) {
			case 'approve':
				editor.component().insert('<br><div class="editor-approve"><i class="fa fa-check-circle"></i> @(Your message)</div><br>');
				break;
			case 'cancel':
				editor.component().insert('<br><div class="editor-cancel"><i class="fa fa-times-circle"></i> @(Your message)</div><br>');
				break;
			case 'tip':
				editor.component().insert('<br><div class="editor-tip"><i class="fa fa-lightbulb-o"></i> @(Your message)</div><br>');
				break;
			case 'quote':
				editor.component().insert('<br><div class="editor-cite">@(Your message)</div><br>');
				break;
			case 'estimate':
				editor.component().insert('<br><div class="editor-estimate"><div><i class="fa fa-clock-o"></i> @(2 hours)</div></div><br>');
				break;
			case 'ul':
				editor.component().insert('<br><div><ul class="editor-ul"><li>@(Line 1)</li><li>@(Line 2)</li></ul></div><br>');
				break;
			case 'clear':
				FIND('confirm').confirm('@(Do you want to remove the content of the comment?)', ['@(Yes)', '@(No)'], function(index) {
					if (index)
						return;
					editor.component().set('');
				});
				break;
		}
	});

	$('a.jrouting').jRouting(true);

	</script>

</body>
</html>