@{layout('~mails/layout')}

<div style="margin-top:15px">@(You have been invited to solving the issues below. For more information click on the button below.)</div>
<br />
<div style="margin-bottom:10px;line-height:18px;border-bottom:1px solid #F0F0F0;padding-bottom:5px">
	<div style="font-weight:bold;text-transform:uppercase;color:black">@(Tracker)</div>
	<div>@{model.name}</div>
</div>
<div style="margin-bottom:10px;line-height:18px;border-bottom:1px solid #F0F0F0;padding-bottom:5px">
	<div style="font-weight:bold;text-transform:uppercase;color:black">@(Owner)</div>
	<div>@{model.owner}</div>
</div>
<div style="margin-bottom:10px;line-height:18px;border-bottom:1px solid #F0F0F0;padding-bottom:5px">
	<div style="font-weight:bold;text-transform:uppercase;color:black">@(Domain)</div>
	<div>@{model.hostname.replace(/^(http|https)\:\/\//g, '')}</div>
</div>
<div style="margin-bottom:10px;line-height:18px;border-bottom:1px solid #F0F0F0;padding-bottom:5px">
	<div style="font-weight:bold;text-transform:uppercase;color:black">@(Issues)</div>
	@{foreach m in model.issues}
	<div>@{m}</div>
	@{end}
</div>

<div style="padding:30px 0 10px"><a href="http://@{model.hostname}/@{model.iddocument}/#@{model.id}" style="padding:20px 0;border-radius:4px;text-align:center;text-decoration:none;margin:0 auto;max-width:300px;width:100%;border:2px solid #67B13D;display:block;background-color:#67B13D;color:white;font-size:18px;font-weight:bold;letter-spacing:-1px">@(SHOW DETAIL)</a></div>